
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background-color: black;
}

h1,h2,h3,h4,h5{
  color: wheat;
}

p,li,a,button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: white;
}
li {
  list-style: none;
}
a {
  color: #f7784b;
   &:hover {
    color: yellow;
   }
}
button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.7rem 2.2rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background-color: rgb(40, 39, 39);
  color: rgb(6, 108, 149);
  border-radius: 1.4rem;
  border-width: 0.1rem;
  margin-top: 1.6rem;
}
/*header, footer {
  position: fixed;
  z-index: 4;
}*/
/* Layout */

.conatiner {
  max-width: 120rem;
  margin: auto;  /* equal margin from left and right */
}
.grid {
  display: grid;
}
.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Header */

header {
  height: 10rem;
  box-shadow: rgba(246, 245, 168, 0.5) 10px 10px 10px ;
  background-color: #404040;
  width: 100%;

  & .container {
    height: 10rem;
  }
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  color: #fff;

  & li a {
    color: #fff;
  }
}

.ham-menu {
  display: none;
}
/* media queries  */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    position: absolute;
    top: 10rem;
    left: 0;
    background-color: #0d1212;
    width: 100%;
    box-shadow: rgba(255, 252, 252, 0.25) 0px 14px 28px;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }
  }
}

/* hero section  */

.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
}

.paragraph {
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 70%;
}

@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;
  }

  .container .banner-image {
    width: 60%;
    order: 0;
  }
}

/* About Section  */

.section-about {
  margin: 0 auto 9rem auto;
  padding: 1rem;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 55rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #161018, #17131b, #302434);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}
.card-title {
  font-weight: 600;
  color: rgb(34, 191, 165);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(210, 129, 16, 0.804);
  font-size: 16px;
  max-width: 470px;
}
.bg-yellow-box {
  position: relative;
}
.bg-yellow-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -2px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}
.bg-yellow-box::after {
  background: linear-gradient(71deg, #8a5858, #afa220, #110e0e);
}
/* ------------------ 
contact us page 
--------------- */

.section-contact {
  margin: 1rem auto;

  & hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
.contact-wrapper {
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    max-width: 50rem;

    & input,
    & textarea {
      font-family: "urbanist";
      background-color: #000;
      font-size: 1.6rem;
      color: #fff;
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.4);
      padding: 1.2rem 1.6rem;
      border-radius: 0.3rem;
    }
  }
}
/* footer CSS  */

.footer-contact {
  height: 10rem;
  gap: 2.4rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;


  & .icon {
    color: #be20b3;
    font-size: 3.6rem;

    & .icon:nth-child(2) {
      rotate: 90deg;
    }
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 2rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
  }
}

.footer-section {
  background: #151414;
  position: relative;
}
