
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'urbanist';
}
body{
  background-color: aliceblue;
}

h1,h2,h3,h4,h5{
  color: black;
}

p,li,a,button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: orange;
}
li {
  list-style: none;
}
a {
  color: #f7784b;
   &:hover {
    color: #c41313;
   }
}
button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.7rem 2.2rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background-color: black;
  color: yellow;
  border-radius: 1.4rem;
  border-width: 0.1rem;
  margin-top: 1.6rem;
}